@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?uqa95k');
    src:url('../fonts/icomoon.eot?uqa95k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?uqa95k') format('truetype'),
        url('../fonts/icomoon.woff?uqa95k') format('woff'),
        url('../fonts/icomoon.svg?uqa95k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-menu:before {
    content: "\f141";
}
.icomoon-tag:before {
    content: "\e900";
}
.icomoon-comments:before {
    content: "\e901";
}
.icomoon-user:before {
    content: "\e902";
}
.icomoon-arrow-right:before {
    content: "\e904";
}
.icomoon-arrow-left:before {
    content: "\e905";
}
.icomoon-google-plus:before {
    content: "\e906";
}
.icomoon-facebook:before {
    content: "\e907";
}
.icomoon-twitter:before {
    content: "\e908";
}
.icomoon-rss:before {
    content: "\e909";
}

